fieldset
    legend
        color: #4D4D4D
        margin-bottom: rem(18px)

    &:not(:first-child)
        padding-top: rem(20px)

    &:not(:last-child)
        padding-bottom: rem(20px)
        border-bottom: rem(1px) solid #ececec

input
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0

    &[type="number"]
        -moz-appearance: textfield

.btn,
button,
[type="submit"],
[type="button"]
    &:focus
        box-shadow: none !important

[type="number"]
    [dir="rtl"] &
        direction: rtl

    [dir="ltr"] &
        direction: ltr

.form-label,
.col-form-label,
.form-check-label
    color: #4D4D4D

.form-control
    &::placeholder
        color: #C6CFD9

    &[readonly]
        background-color: #F5F5F5
        border-color: #F5F5F5

        &:focus
            border-color: #F5F5F5
            box-shadow: none

.form-control,
.form-select,
.form-tags-control
    line-height: 1.5
    border: rem(2px) solid #CBD0D6
    border-radius: rem(12px)
    padding: 0.725rem 0.75rem

    &:focus
        +var(border-color, color-brand)
        box-shadow: 0 0 0 0.25rem lighten($color-brand, 40%)

.form-check
    display: inline-flex
    align-items: center
    gap: rem(8px)
    padding-right: 0
    margin-bottom: 0

.form-check-input
    &:not(.form-switch &)
        width: rem(18px)
        height: rem(18px)
        border: rem(2px) solid #CBD0D6
        border-radius: rem(5px)
        float: none
        margin-top: 0
        margin-right: 0

        &:checked
            +var(background-color, color-brand)
            +var(border-color, color-brand)

.form-select
    padding-inline-end: 2rem

.form-file
    display: none

    & + label
        display: flex
        align-items: center
        gap: rem(15px)
        line-height: 1.15
        border: rem(2px) solid #CBD0D6
        border-radius: rem(12px)
        cursor: pointer
        padding: 0.625rem 0.95rem
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out

        svg
            fill: #4D4D4D

        .form-file__label
            direction: ltr
            color: #65676B

        &:active
            +var(border-color, color-brand)
            box-shadow: 0 0 0 0.25rem lighten($color-brand, 40%)

.form-select
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.8' height='16.2' viewBox='0 0 8.8 16.2'%3E%3Cpath fill='%23E4E6EB' d='M0,11.8l4.4,4.4l4.4-4.4H0z M0,4.4L4.4,0l4.4,4.4L0,4.4z'/%3E%3C/svg%3E")
    background-size: rem(8.8px) rem(16.2px)

.currency-symbol
    position: relative

    &::before
        content: attr(data-symbol)
        position: absolute
        inset-inline-end: 0.95rem
        display: flex
        align-items: center
        height: 100%
        font-size: rem(12px)

    .form-control
        padding-inline-end: 2.8rem

.unit-symbol
    position: relative

    &::before
        content: attr(data-unit)
        position: absolute
        inset-inline-end: 0.95rem
        display: flex
        align-items: center
        height: 100%
        font-size: rem(12px)

    .form-control
        padding-inline-end: 2.8rem

.percentage-symbol
    position: relative

    &::before
        position: absolute
        right: 0.95rem
        top: 50%
        transform: translateY(-50%)
        content: "%"
        font-size: 12px

    .form-control
        padding-right: 2.8rem
        text-align: left

.input-with-icon
    position: relative
    display: flex
    align-items: center

    svg
        position: absolute
        inset-inline-start: 0.95rem
        width: 20px
        height: 20px
        pointer-events: none
        fill: #C6CFD9

    .form-control,
    .form-select
        padding-inline-start: calc((0.95rem * 2) + 20px)

.form-datepicker
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.8' height='16.2' viewBox='0 0 8.8 16.2'%3E%3Cpath fill='%23E4E6EB' d='M0,11.8l4.4,4.4l4.4-4.4H0z M0,4.4L4.4,0l4.4,4.4L0,4.4z'/%3E%3C/svg%3E")
    background-size: rem(8.8px) rem(16.2px)
    background-repeat: no-repeat
    background-position: left .75rem center

    .home-page &
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.8' height='16.2' viewBox='0 0 8.8 16.2'%3E%3Cpath fill='%233892FF' d='M0,11.8l4.4,4.4l4.4-4.4H0z M0,4.4L4.4,0l4.4,4.4L0,4.4z'/%3E%3C/svg%3E")

.form-switch
    display: flex
    align-items: center
    gap: rem(10px)
    padding-right: 0

.form-switch-input
    display: none
    appearance: none
    -webkit-print-color-adjust: exact
    color-adjust: exact

.form-switch-btn
    display: flex
    align-items: center
    position: relative
    width: rem(44px)
    height: rem(24px)
    background-color: #dae0e7
    border-radius: rem(12px)
    cursor: pointer
    transition: all 0.3s

    .form-switch-input:checked + &
        background-color: #c4e0fc

    &::before
        content: ""
        position: absolute
        inset-inline-start: rem(-2px)
        width: rem(26px)
        height: rem(26px)
        border-radius: rem(13px)
        background-color: #F6F6F6
        box-shadow: 0 0 rem(3px) rgba(0, 0, 0, 0.15)
        transition: all 0.3s

    .form-switch-input:checked + &
        &::before
            +var(background-color, color-brand)

            [dir="rtl"] &
                transform: translateX(-22px)

            [dir="ltr"] &
                transform: translateX(22px)

.form-tags-control__container
    position: relative

.form-tags-control
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: rem(10px)
    width: 100%
    min-height: rem(48px)
    padding: rem(6px) 0.75rem
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out

    &:focus-within
        +var(border-color, color-brand)
        box-shadow: 0 0 0 0.25rem lighten($color-brand, 40%)

.form-tags-control__tag
    display: flex
    align-items: center
    gap: rem(5px)
    height: rem(32px)
    line-height: inherit
    background-color: rgba(198, 207, 217, 0.48)
    border: rem(1px) solid #C6CFD9
    border-radius: rem(16px)
    pointer-events: auto
    padding: 0 rem(5px)
    padding-inline-start: rem(10px)
    margin: 0
    transition: background-color 0.3s

    &:hover
        background-color: rgba(198, 207, 217, 0.68)

.form-tags-control__tag__label
    display: flex
    font-size: rem(12px)

    [dir="rtl"] &
        font-family: 'NotoSansArabic_Medium', sans-serif

    [dir="ltr"] &
        font-family: 'NotoSans_Medium', sans-serif

.form-tags-control__tag__delete
    +flex-center
    align-self: center
    justify-self: flex-end
    width: rem(22px)
    height: rem(22px)
    border-radius: 50%
    transition: background-color 0.3s

    svg
        width: rem(8px)
        height: rem(8px)
        fill: #060505
        pointer-events: none

    &:hover
        background-color: rgba(198, 207, 217, 0.78)

.form-tags-control__input
    display: flex
    flex: 1 1 auto
    height: 100%

.search-result
    position: absolute
    top: 100%
    width: 100%
    display: flex
    flex-wrap: wrap
    gap: rem(10px)
    background-color: #eef0f8
    border-radius: rem(6px)
    padding: rem(10px)
    z-index: 1
    box-shadow: 0 rem(6px) rem(10px) rgba(0, 0, 0, 0.12)

    a
        display: inline-flex
        align-items: center
        height: rem(32px)
        line-height: inherit
        font-size: rem(12px)
        text-decoration: none
        color: inherit
        background-color: rgba(198, 207, 217, 0.48)
        border: rem(1px) solid #C6CFD9
        border-radius: rem(16px)
        padding: 0 rem(10px)
        transition: background-color 0.3s

        [dir="rtl"] &
            font-family: 'NotoSansArabic_Medium', sans-serif

        [dir="ltr"] &
            font-family: 'NotoSans_Medium', sans-serif

        &:hover
            background-color: rgba(198, 207, 217, 0.68)
