.client__data
    display: flex
    align-items: center
    gap: rem(15px)

    .client__icon
        +flex-center
        width: rem(42px)
        height: rem(42px)
        background-color: $color-white
        border-radius: 50%

        img
            width: rem(20px)

    .client__name
        [dir="rtl"] &
            font-family: 'NotoSansArabic_SemiBold', sans-serif

        [dir="ltr"] &
            font-family: 'NotoSans_SemiBold', sans-serif
