.maintenance-page
    @media (max-width: 768px)
        overflow: auto
        +scrollbar

    .single-column-layout
        @media (max-width: 768px)
            height: auto

        header
            gap: 0 rem(30px)

    .layout__tabs
        margin-inline-start: auto
