.payments-page
    .single-column-layout
        header
            gap: rem(30px)

    .layout__tabs
        margin-inline-start: auto

    .service-info
        display: flex
        justify-content: space-between
        gap: rem(30px)
        padding: rem(15px) rem(22px)

    .service-balance
        display: inline-flex
        align-items: center
        gap: rem(15px)
        border: rem(1px) solid #E4E6EB
        border-radius: rem(12px)
        padding: rem(10px) rem(15px)

        .service-icon
            +flex-center
            width: rem(60px)
            height: rem(60px)
            border-radius: 50%
            background-color: #F5F5F5

            svg
                width: rem(30px)
                height: rem(30px)

            img
                width: 100%
                height: 100%
                object-fit: cover
                border-radius: 50%

    .balance-details
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: rem(5px)

        .balance-label
            flex: 1 1 100%
            color: #818B97
            font-size: rem(12px)

            [dir="rtl"] &
                font-family: 'NotoSansArabic_Medium', sans-serif

            [dir="ltr"] &
                font-family: 'NotoSans_Medium', sans-serif

        .balance-amount,
        .balance-currency
            color: #060505

            &.profit
                color: #2BAB5A

        .balance-amount
            font-size: rem(22px)

            [dir="rtl"] &
                font-family: 'NotoSansArabic_SemiBold', sans-serif

            [dir="ltr"] &
                font-family: 'NotoSans_SemiBold', sans-serif

        .balance-currency
            font-size: rem(20px)
